body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #f9f4f4;
  background-color: #050000;
}

.header {
  background-color: #4e0101;
  color: #fff;
  padding: 1rem 0;
}

.header-links {
  display: flex;
  justify-content: flex-end;
}

.header-links a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color: #f4f4f4;
}

.container {
  margin-top: 1rem;
}

#introduction {
  background-color: #000000;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: start;
}

.profile-img img {
  width: 100%;
  border-radius: 50%;
}

.profile-info {
  margin-left: 2rem;
  width: 80%;
}

.profile-info h2,
.profile-info h3 {
  margin-top: 1rem;
}

.profile-buttons button {
  margin-right: 1rem;
}

.projects-section {
  padding: 2rem 0;
}

.projects-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.project {
  background-color: #004c0e;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust based on the desired width */
  height: 600px; /* Adjust based on the desired height */
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project h3 {
  margin-top: 0;
}

.project p {
  font-size: 1rem;
  flex-grow: 1;
}

.project .btn {
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #600000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.project .btn:hover {
  background-color: #b34200;
}


.footer {
  background-color: #4e0101;
  color: #040000;
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}
